body {
    max-width: 100%;    
    max-height: 100%;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

nav {
    width: 100%;
    height: 100px;
    background-image: url('../assets/hero-banner.png');
    background-size: cover;
    background-blend-mode:multiply ;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.home{
    font-weight: 800px;
    font-size: 25px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin-top: 35px;
    margin-left: 10px;
    border: 1px solid white;
    padding: 2px;
}

.second-home{
    font-weight: 500px;
    font-size: 15px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    margin-top: 42px;
    border: 1px solid white;
    padding: 2px;
}

#search-container{
    width: 230px;
    display: flex;
    flex-direction: row;
    margin: auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    border: none ;
    border-radius: 3px;
    margin-top: -15px;
}

#search-input{
    background-color: white;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 3px 0px 0px 3px;
}

#search-button{
    background-color: white;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 0px 3px 3px 0px;
}   

.empty-search{
    width: 100%;
    margin: auto;
    margin-top: 200px;
}

.explore{
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #dfdddd;
}

/*=======MOVIE-CARD-COMPONENT=========*/

.movie-card{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 20px;
    border-bottom: solid 1px #dfdddd;
}

.movie-card-image{
    width: 70px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.movie-card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.movie-card-title-rate{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 10px;
}

.movie-card-title{
    font-weight: 600;
}

.movie-card-rate{
    margin-left: 10px;
}

.movie-card-time-genre-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 10px;
}

.movie-card-button{
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: unset;
    margin-top: -3px;
    transition: all .2s ease-in;
}

.movie-card-button:hover{
    transform: scale(1.1);
}

.movie-card-description{
    font-size: 10px;
    font-weight: 100;
    text-shadow: unset;
}

/*=======WATCHLIST=========*/

.explore-watchlist{
    font-size: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: #3f3b3b;
    font-weight: 100;
    margin-bottom: 10px;
    padding: 10px;
}

.explore-link{
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: unset;
    margin-top: -3px;
    transition: all .2s ease-in;
    color: black;
}

.explore-link:hover{
    transform: scale(1.1);
}

.favorited{
    color: #ffaa00;
}

.checked{
    color: lightgreen;
}

.hidden{
    display: none;
}
.remove-movie-button{
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: unset;
    margin-top: -3px;
    transition: all .2s ease-in;
}

.remove-movie-button:hover{
    transform: scale(1.1);
}

.watched-movie-button{
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: unset;
    margin-top: -3px;
    transition: all .2s ease-in;
}

/*=======MEDIA QUERY=========*/

@media only screen and (min-width: 1200px) {
    nav{
        height: 200px
    } 

    .home{
        font-size: 50px;
        margin-top: 65px;
    }

    .second-home{
        font-size: 35px;
        margin-top: 75px;
    }

    #search-container{
        width: 400px;
    }

    #search-input{
        width: 300px;
        padding: 10px;
    }
    
    #search-button{
        width: 100px;
        padding: 10px;
    }

    .empty-search{
        margin-top: 150px;
    }

    .empty-img{
        width: 100px;
    }

    .explore{
        font-size: 50px;
    }

    /*=======MOVIE-CARD-COMPONENT=========*/

    .movie-card{
        width: 600px;
    }

    .movie-card-image{
        width: 100px;
    }

    .movie-card-info{
        font-size: 15px;
    }

    .movie-card-title-rate{
        margin-bottom: 20px;
    }

    .movie-card-time-genre-button{
        margin-bottom: 20px;
    }

    .movie-card-button{
        font-size: 15px;
    }

    .movie-card-description{
        font-size: 15px;
    }

    /*=======WATCHLIST=========*/

    .explore-watchlist{
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 200px;    
    }

    .explore-link{
        font-size: 20px;
    }
}